<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Responsive Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event.css') }}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Events Connect</label>
		<ul>
			<li><a class="active" href="/events">Events</a></li>
			<li><a href="/carpooling">Carpooling</a></li>
			<li><a href="/messaging">Messaging</a></li>
			<li><a href="/profile">Profile</a></li>
		</ul>
	</nav>

    <div class="container">
		<h1>Event</h1>
		<!-- add your dashboard content here -->
        <h1> {{ title }}</h1>
        <br>
        <h1> Location: </h1>
        <h1> {{ street_name }}</h1>
        <h1> {{ city }}</h1>
        <h1> {{ zipcode }}</h1>
        <br>
        <h1>Host: </h1>
        <h1> {{ host }}</h1>
        <br>
        <h1>Interest: </h1>
        <h1> {{ interest }}</h1>
        <br>
        <h1>Timings: </h1>
        <h1> {{ timings }}</h1>
        <br>
        <h1>Fees: </h1>
        <h1> {{ fees }}</h1>
        <br>
        <p id="already_registered"></p>
        <script type="text/javascript">
            var element = document.getElementById("already_registered");
            var variable = "{{ already_registered }}";
            var content;
            if  (variable == "True") {
                content = '<h1>Already Registered</h1>'
            } else {
                content =
                    '<button> <a href="/event_attended_by?event_id={{ event_id }}">Attend</a> </button>';
            }
             element.innerHTML = content;
        </script>
        <p>{{ already_registered }}</p>
	</div>
</body>
</html>