<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Responsive Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/messaging.css') }}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Events Connect</label>
		<ul>
			<li><a  href="/events?user_id={{ user_id }}">Events</a></li>
			<li><a href="/carpooling?user_id={{ user_id }}">Carpooling</a></li>
			<li><a class="active" href="/messaging">Messaging</a></li>
			<li><a href="/profile?user_id={{ user_id }}">Profile</a></li>
		</ul>
	</nav>

    <div class="container">
		<h1>Messaging</h1>
		<!-- add your dashboard content here -->
		<h1>Welcome, {{ user_id }}</h1>
	</div>

</body>
</html>